apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  application.yml: |
    server:
      port: 8080
    spring:
      datasource:
        url: jdbc:mysql://{{ .Values.database.host }}:3306/{{ .Values.database.name }}
        username: {{ .Values.database.user }}
      jpa:
        hibernate:
          ddl-auto: none
        show-sql: true
