- name: Configure Nexus Repository OSS on Minikube
  hosts: minikube

  tasks:
    - name: Wait for Nexus Pod...
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: build
        label_selectors:
          - app=nexus
      register: nexus_pods 
      failed_when: false
      until: >
        (nexus_pods.resources | default([]) | length) > 0 and
        (nexus_pods.resources | default([]))[0].status.phase == "Running"
      retries: 10
      delay: 5
      
    - name: Get Nexus Service NodePort
      kubernetes.core.k8s_info:
        kind: Service
        namespace: build
        name: nexus-service
      register: nexus_service

    - name: Print Nexus access URL
      debug:
        msg: >
          Nexus is running at:
          http://{{ lookup('pipe', 'minikube ip') }}:{{ nexus_service.resources[0].spec.ports[0].nodePort }}
